<div class="control-group">
	  <label class="control-label" for="instanceId">Instance Id</label>
	  <div class="controls">
	  	  {{input value=instanceId id="instanceId" placeholder="Instance Id" required="true" disabled="true"}}
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="name">Name</label>
	  <div class="controls">
			{{input value=name id="name" placeholder="name" required="true"}}
		</div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="publicIp">Public Ip</label>
	  <div class="controls">
			{{input value=publicIp id="publicIp" placeholder="publicIp" required="true"}}
		</div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="privateIp">Private Ip</label>
	  <div class="controls">
			{{input value=privateIp id="privateIp" placeholder="privateIp" required="true"}}
		</div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="flavor">Flavor</label>
	  <div class="controls">
			{{input value=flavor id="flavor" placeholder="flavor" required="true"}}
		</div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="image">Image</label>
	  <div class="controls">
			{{input value=image id="image" placeholder="image" required="true"}}
		</div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="sshKeyName">Ssh Key Name</label>
	  <div class="controls">
			{{input value=sshKeyName id="sshKeyName" placeholder="sshKeyName" required="true"}}
		</div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="securityGroups">Security Groups</label>
	  <div class="controls">
			{{input value=securityGroups id="securityGroups" placeholder="securityGroups" required="true"}}
		</div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="state">State</label>
	  <div class="controls">
			{{input value=state id="state" placeholder="state" required="true"}}
		</div>
	</div>